<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Blog dla programistów</title>
</head>
<body>
    <div>
        <h1> witam na stronie bloga </h1>
        <h2> blog o programowaniu </h2>
        <h3> Autor: Strefa Kursów </h3>
        <h4> Wszelakie prawa zastrzezone </h4>


    </div>
    <div>




        <p>to jest akapit</p>
        <em>To jest wyrozony tekst </em><br>
        <strong> trolololo to pogrubiony</strong>

        <a href="https://strefakursow.pl">Link    </a>
    </div>
<ul>
    <div>
        <li>Elementylisty</li>
        <li>Elementylisty</li>
        <li>Elementylisty</li>
    </div>

</body>
</html>